In [ ]:
# Import modules 
import pandas as pd 
from google.colab import files
import io

In [ ]:
# Import CSV file
uploaded = files.upload()

# Tranform CSV data to DataFrame 
df = pd.read_csv(io.BytesIO(uploaded['book_data.csv']))

Saving book_data.csv to book_data.csv

In [ ]:
# Preview DataFrame 
df.head()

                                          Book Title  ...  Amount of Priority
0                                  Memorial: A Novel  ...                   1
1                                    A Promised Land  ...                   1
2                                   The Witch Hunter  ...                   2
3  When Time Stopped: A Memoir of My Father's War...  ...                   2
4                               Call Me by Your Name  ...                 -10

[5 rows x 9 columns]

In [ ]:
# Calculate the average qualification metrics for books placed in all priority locations
df.mean(axis=0)

Star Rating                         3.889130
Discount                            0.082000
Sales Rank                      16429.782609
Zone #                              2.869565
# of Other Books Placed with       12.391304
Amount of Priority                 -9.521739
dtype: float64

In [ ]:
# Which books are placed in Zone #1 (the highest priority location)? 
df.iloc[:2]

          Book Title  ...  Amount of Priority
0  Memorial: A Novel  ...                   1
1    A Promised Land  ...                   1

[2 rows x 9 columns]

In [ ]:
# Calculate the average qualification metrics for books placed in Zone #1 (the highest priority location). 
df.iloc[:2].mean()

Star Rating                       4.20
Discount                          0.21
Sales Rank                      221.50
Zone #                            1.00
# of Other Books Placed with      0.00
Amount of Priority                1.00
dtype: float64

In [ ]:
# Which books are placed in Zone #2? 
df.iloc[2:4]

                                          Book Title  ...  Amount of Priority
2                                   The Witch Hunter  ...                   2
3  When Time Stopped: A Memoir of My Father's War...  ...                   2

[2 rows x 9 columns]

In [ ]:
# Calculate the average qualification metrics for books placed in Zone #2.  
df.iloc[2:4].mean()

Star Rating                       4.400
Discount                          0.085
Sales Rank                      115.000
Zone #                            2.000
# of Other Books Placed with      0.000
Amount of Priority                2.000
dtype: float64

In [ ]:
# Which books are placed in Zone #3? 
df.iloc[4:]

                                           Book Title  ...  Amount of Priority
4                                Call Me by Your Name  ...                 -10
5                                   The Mother-in-Law  ...                 -10
6                             A Darker Shade of Magic  ...                 -10
7                            Rich and Pretty: A Novel  ...                 -10
8                                        Housekeeping  ...                 -10
9                     Paris Never Leaves You: A Novel  ...                 -10
10                                The Feral Detective  ...                 -10
11          The Unraveling of Cassidy Holmes: A Novel  ...                 -10
12                 Things You Save in a Fire: A Novel  ...                 -10
13  https://www.barnesandnoble.com/w/the-world-tha...  ...                 -10
14                                     The Guest Book  ...                 -10
15                                The Wartime Sisters  ...                 -10
16                            Ask Again, Yes: A Novel  ...                 -10
17                                          Wolf Hall  ...                 -10
18                                  Then She Was Gone  ...                  -6
19                                The Wife Between Us  ...                  -6
20                                    Whisper Network  ...                  -6
21         Daughter of a Daughter of a Queen: A Novel  ...                  -6
22                                    The Last Widow   ...                  -6
23                                        The Leaving  ...                  -6
24                        The Murder of Roger Ackroyd  ...                  -6
25                              The Woman in Cabin 10  ...                  -6
26                                  Never Have I Ever  ...                  -6
27                                     The Lying Game  ...                  -6
28                                   No Happy Endings  ...                 -12
29  Promise Me, Dad: A Year of Hope, Hardship, and...  ...                 -12
30                                       Love Warrior  ...                 -12
31  Factfulness: Ten Reasons We're Wrong About the...  ...                 -12
32                               Sing, Unburied, Sing  ...                 -12
33  Extraordinary Insects: The Fabulous, Indispens...  ...                 -12
34                                        Three Women  ...                 -12
35                            Thinking, Fast and Slow  ...                 -12
36  The British Are Coming: The War for America, L...  ...                 -12
37  Unspeakable Acts: True Tales of Crime, Murder,...  ...                 -12
38  This Is Major: Notes on Diana Ross, Dark Girls...  ...                 -12
39  Disloyal: A Memoir: The True Story of the Form...  ...                 -16
40  True Crimes and Misdemeanors: The Investigatio...  ...                 -16
41  https://www.barnesandnoble.com/w/white-house-i...  ...                 -16
42   The Room Where It Happened: A White House Memoir  ...                 -16
43  Hoax: Donald Trump, Fox News, and the Dangerou...  ...                 -16
44  Compromised: Counterintelligence and the Threa...  ...                 -16
45  https://www.barnesandnoble.com/w/too-much-and-...  ...                 -16

[42 rows x 9 columns]

In [ ]:
# Calculate the average qualification metrics for books placed in Zone #3.  
df.iloc[4:].mean()

Star Rating                         3.850000
Discount                            0.075610
Sales Rank                      17978.500000
Zone #                              3.000000
# of Other Books Placed with       13.571429
Amount of Priority                -10.571429
dtype: float64